<div class="container">
	<h3>Projects</h3>
	<div class="row mg">
		<div class="col-md-3 project-card pd mg" ng-repeat="project in projects">
			<a href="/projects/{{project._id}}/tickets"><p class="lead mg-no">{{project.title}}</p></a>
			<div class="row">
				<div class="col-xs-4">
					<a href="/">
						<span class="fui-chat"></span>
						3
					</a>
				</div>
				<div class="col-xs-4">
					<a href="/">
						<span class="fui-eye"></span>
						15
					</a>
				</div>
				<div class="col-xs-4">
					<a href="/">
						<span class="fui-user"></span>
						2
					</a>
				</div>
			</div>
		</div>

		<a href="/projects/create">
			<div class="col-md-3 project-card pd mg">
				<p class="lead mg-no">+ Create new</p>
			</div>			
		</a>		
	</div>
</div>