.top-panel {
	background-color: #ECF0F1;
}

.top-panel a {
    color: #95A5A6;
}

.top-panel a:hover {
    color: #34495E;
}

.tp-ui-block {
	margin-top: 3px;
}

.top-panel-logo a {
    color: #2C3E50;
}

.top-panel-logo a:hover {
    color: #7F8C8D;
}

.top-panel-signin {
	margin-left: 40px;
}

.top-panel-signin a {
    color: #95A5A6;
}

.top-panel-signin a:hover {
    color: #2ECC71;
}

.top-panel-nickname {
	margin-left: 40px;
}

.top-panel-nickname span {
	margin-left: 10px;
}

.home-top-bg {
	margin-top: 70px;
	height: 350px;
}

.home-row {
	margin-top: 30px;	
}

.home-row > div > img {	
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}

.home-row:hover > div > img {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}

.home-btn-block {
	margin-top: 30px;
}

.footer-bg {
	margin-top: 30px;
	background-color: #ECF0F1;
	color: #bdc3c7;
}

.pd-hrz {
	padding: 0 15px 0 15px;	
}

.pd {
	padding: 15px;
}

.pd-sm {
    padding: 10px;
}

.pd-vrt {
    padding: 15px 0 15px 0;
}

.pd-vrt-sm {
    padding: 5px 0 5px 0;
}

.pd-no {
    padding: 0px;
}


.mg-hrz {
	margin: 0 15px 0 15px;
}

.mg {
	margin: 15px;
}

.mg-vrt {
    margin: 15px 0 15px 0;
}

.mg-top {
    margin-top: 15px;
}

.mg-no {
    margin: 0px;
}

.footer-primary-bg {
	background-color: #95A5A6;
	color: white;
	padding: 30px;
}

.top-stripe {
	height: 2px;
	background-color: #3498DB;
}

.divider {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 10px;
	background-color: #ECF0F1;
	border-radius: 32px;
}

.divider-sm {
    height: 10px;
    background-color: #ECF0F1;
    border-radius: 32px;
}

.btn-amethyst {
	background-color: #8E44AD;
	border-color: #8E44AD;
	color: #ffffff;
}

.btn-amethyst:hover {
	background-color: #9B59B6;
	border-color: #9B59B6;
	color: #ffffff;
}

a {
    color: #34495E;
}

a:hover {
    color: #7F8C8D;
}

.icon-text {
	 margin-right: 7px !important;
}

.preloader-full {
	position: absolute;
	height: 100%;
	width: 100%;	
	background-color: #ECF0F1;
	z-index: 999;
	display: block;
}

.preloader-logo {
	position: absolute;
	height: 200px;
	width: 300px;	
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}

.preloader {
  	width: 280px;
  	text-align: center;
}

.preloader > div {
  	width: 10px;
  	height: 10px;
  	background-color: #3498DB;

  	border-radius: 100%;
  	display: inline-block;
  	-webkit-animation: bouncedelay 2s infinite ease-in-out;
  	animation: bouncedelay 2s infinite ease-in-out;
  	/* Prevent first frame from flickering when animation starts */
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.preloader .bounce1 {
  	-webkit-animation-delay: -0.8s;
  	animation-delay: -0.8s;
}

.preloader .bounce2 {
  	-webkit-animation-delay: -0.7s;
  	animation-delay: -0.7s;
}

.preloader .bounce3 {
  	-webkit-animation-delay: -0.6s;
  	animation-delay: -0.6s;
}

.preloader .bounce4 {
  	-webkit-animation-delay: -0.5s;
  	animation-delay: -0.5s;
}

.preloader .bounce5 {
  	-webkit-animation-delay: -0.4s;
  	animation-delay: -0.4s;
}

.preloader .bounce6 {
  	-webkit-animation-delay: -0.3s;
  	animation-delay: -0.3s;
}

.preloader .bounce7 {
  	-webkit-animation-delay: -0.2s;
  	animation-delay: -0.2s;
}

.preloader .bounce8 {
  	-webkit-animation-delay: -0.1s;
  	animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  	0%, 30%, 100% { -webkit-transform: scale(0.3) }
  	15% { -webkit-transform: scale(1.3) }
}

@keyframes bouncedelay {
  	0%, 30%, 100% { 
    	transform: scale(0.3);
    	-webkit-transform: scale(0.3);
  	} 15% { 
    	transform: scale(1.3);
    	-webkit-transform: scale(1.3);
  	}
}

.small-paragraph {
	text-align: center;
}

.small-paragraph > span {
	color: #7f8c8d;
	font-size: 16px;
	line-height: 17px;
	font-weight: 300;  
}

.home-img > img {
	width: 100%;
	margin-left: 30px;
}

.home-img {
	overflow: hidden;
}

.lead-thin {
	font-weight: 300;
}

.font-thin {
    font-weight: 300;
}

.font-small {
    font-size: 14px;
}

.project-card {
    background-color: #ECF0F1;
    text-align: center;
}

.lead-pure {
    margin-bottom: 0px !important;
}

.semi-fade {
    color: #7f8c8d;
}

.nav-pills > li.active > a {
    background-color: #ECF0F1 !important;
    color: #000;
}

.nav-pills > li.active > a:hover {
    color: #000;
}

.ticket {
    background-color: #ECF0F1;
}

.ticket > .author {
    color: #7f8c8d;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
}

.ticket > .comment {
}

.ticket small {

}

.ticket > .comment > .time {
    color: #7f8c8d;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.ticket > .comment > .avatar {
    width: 48px;
    height: 48px;
}

.ticket > .comment > .text-my {
    background-color: #fff;
    margin-left: 48px;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}

.ticket > .comment > .text-member {
    background-color: #fff;
    margin-right: 48px;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}

.project-menu {
    padding-right: 45px;
    border-right: #ECF0F1 3px solid;
}