<div class="row">
	<div class="col-md-6">
		<p class="lead">Tickets</p>
	</div>
	<div class="col-md-6">
		<a ng-click="createNew = true; copy(ticket, newTicket)" href="#" class="pull-right"><p class="lead">+ New ticket</p></a>
	</div>
</div>

<div ng-show="createNew" class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">{{user.email}}</a> ask</p>
		<h4><input ng-model="newTicket.subj" autofocus type="text" class="form-control" placeholder="Enter ticket subject"></h4>
		<div class="row mg-top">
			<div class="col-xs-6">
				<button ng-click="create(newTicket)" class="btn btn-block btn-sm btn-primary mg-no"><span class="fui-check"></span> Save</button>
			</div>
			<div class="col-xs-6">
				<button ng-click="createNew = false" class="btn btn-block btn-sm btn-danger"><span class="fui-cross"></span> Cancel</button>
			</div>			
		</div>
	</div>
</div>

<div class="col-md-4" ng-repeat="ticket in tickets">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">{{ticket.author.email}}</a> ask</p>
		<a href="#"><h4>{{ticket.subj}}</h4></a>
	</div>
</div>

<div class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">Vitaly Bolychev</a> ask</p>
		<a href="#"><h4>Maybe make it green?</h4></a>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-left" src="http://southstrand.co/img/avatar_male.png">
			<div class="text-my pd-sm">
				Why not... Because there is now geen
			</div>		
		</div>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-member pd-sm">
				Noo! It will break all my fantastic minds
			</div>
		</div>
		<div style="text-align:center">
			<span style="font-size: 20px">.  .  .</span>
		</div>	
	</div>
</div>

<div class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">Vitaly Bolychev</a> ask</p>
		<h4>Maybe make it green?</h4>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-left" src="http://southstrand.co/img/avatar_male.png">
			<div class="text-my pd-sm">
				Why not... Because there is now geen
			</div>		
		</div>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-member pd-sm">
				Noo! It will break all my fantastic minds
			</div>
		</div>
		<div style="text-align:center">
			<span style="font-size: 20px">.  .  .</span>
		</div>	
		<div class="btn btn-block btn-sm btn-success mg-top">
			<span class="fui-check"></span> Mark resolved
		</div>		
	</div>
</div>

<div class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">Vitaly Bolychev</a> ask</p>
		<h4>Maybe make it green?</h4>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-left" src="http://southstrand.co/img/avatar_male.png">
			<div class="text-my pd-sm">
				Why not... Because there is now geen
			</div>		
		</div>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-member pd-sm">
				Noo! It will break all my fantastic minds
			</div>
		</div>
		<div style="text-align:center">
			<span style="font-size: 20px">.  .  .</span>
		</div>	
		<div class="btn btn-block btn-sm btn-inverse mg-top">
			<span class="fui-cross"></span> Unresolve
		</div>
		<div class="text-center">
			<span class="font-thin font-small">Moved to archive</span>
		</div>			
	</div>
</div>
<div class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">Vitaly Bolychev</a> ask</p>
		<h4>Maybe make it green?</h4>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-left" src="http://southstrand.co/img/avatar_male.png">
			<div class="text-my pd-sm">
				Why not... Because there is now geen
			</div>		
		</div>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-member pd-sm">
				Noo! It will break all my fantastic minds
			</div>
		</div>
		<div class="btn btn-block btn-sm btn-inverse mg-top">
			<span class="fui-cross mg-hrz"></span> Unresolve
		</div>
		<div class="text-center">
			<span class="font-thin font-small">Moved to archive</span>
		</div>			
	</div>
</div>
<div class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">Vitaly Bolychev</a> ask</p>
		<h4>Maybe make it green?</h4>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-my pd-sm">
				Why not... Because there is now geen
			</div>		
		</div>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-right" src="http://southstrand.co/img/avatar_male.png">
			<div class="text-member pd-sm">
				Noo! It will break all my fantastic minds
			</div>
		</div>
		<div class="btn btn-block btn-sm btn-inverse mg-top">Unresolve</div>
		<div class="text-center">
			<span class="font-thin font-small">Moved to archive</span>
		</div>			
	</div>
</div>
<div class="col-md-4">
	<div class="ticket pd mg-vrt">
		<p class="author"><a href="#">Vitaly Bolychev</a> ask</p>
		<h4>Maybe make it green?</h4>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-my pd-sm">
				Why not... Because there is now geen
			</div>		
		</div>

		<div class="comment row clearfix mg-no pd-vrt-sm">
			<img class="avatar pull-right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK2AJmkGawnNt84yh9o4Ywf72AmvI83wZF3MixQDk_y4au2gD4">
			<div class="text-member pd-sm">
				Noo! It will break all my fantastic minds
			</div>
		</div>
		<div class="btn btn-block btn-sm btn-inverse mg-top">Unresolve</div>
		<div class="text-center">
			<span class="font-thin font-small">Moved to archive</span>
		</div>			
	</div>
</div>