<div class="container">	
	<div class="row mg">		
		<div class="col-xs-3">
			<span class="lead text-center"><b>{{project.title}}</b></span>
			<ul class="nav nav-pills nav-stacked project-menu">
			  <li><a href="/projects/{{project._id}}/tickets"><span class="fui-chat mg-hrz"></span> Tickets</a></li>
			  <li><a href="/projects/{{project._id}}/messages"><span class="fui-mail mg-hrz"></span> Messages</a></li>
			  <li><a href="/projects/{{project._id}}/themes"><span class="fui-calendar-solid mg-hrz"></span> Themes</a></li>
			  <li><a href="/projects/{{project._id}}/settings"><span class="fui-gear mg-hrz"></span> Settings</a></li>
			</ul>
		</div>
		<div class="col-xs-9">
			<div ui-view></div>
		</div>
	</div>
</div>