<div class="container">
    <div class="col-md-offset-2 col-sm-offset-0">
        <div class="col-md-8 col-sm-12">
			<h3>Create new project</h3>
			<form class="form-horizontal" role="form">
				<div class="form-group">
			    	<label for="project-title" class="col-sm-3 control-label">Title *</label>
			    	<div class="col-sm-9">
			    		<input ng-model="project.title" type="text" class="form-control" id="project-title" placeholder="Enter project title">
			    	</div>
			 	</div>
			 	<div class="form-group">
			    	<label for="project-url" class="col-sm-3 control-label">URL *</label>
			    	<div class="col-sm-9">
			    		<input ng-model="project.url" type="text" class="form-control" id="project-url" placeholder="Enter project URL">
			    	</div>
			 	</div>
				<div class="form-group">
			    	<label for="project-url" class="col-sm-3 control-label">Project members</label>
			    	<div class="col-sm-9">
			    		<input type="text" class="form-control" id="project-url" placeholder="Choose members">
			    	</div>
			 	</div>
			 	<div class="form-group">			    	
			    	<div class="col-sm-offset-3 col-sm-9">
			    		<button ng-click="createProject()" class="btn btn-primary">Create</button>
			    	</div>
			 	</div>
			</form>
		</div>
	</div>
</div>