<div class="container-fluid top-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<div class="text-left top-panel-logo">
					<a href="/">
						<h4>
							<img width="30px" height="30px" src="/img/logo.png">
							MootKit
						</h4>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xs-6">
				<ul class="nav navbar-right tp-ui-block text-right">
	        		<li class="top-panel-signin">
	        			<a href="/signin">
	        				<span class="fui-lock icon-text"></span>{{ "Sign In" | translate}}
	        			</a>
	        		</li>
	    		</ul>
			</div>
		</div>
	</div>
</div>